<!-- <button (click)="mandarCategoria('2', '3')" class="button button1">Mandar Data 1</button>
<button (click)="mandarCategoria('1', '7')" class="button button1">Mandar Data 2</button>
<button (click)="mandarCategoria('4', '2')" class="button button1">Mandar Data 3</button>
<button (click)="BuscarPorCodigo('102')" class="button button1">Buscar por codigo</button>
<input #correo type="text">
<button [disabled]="Deshabilitar" (click)="buscarPedidoPorEmail('rommelmontenegro@yahoo.com', 3 )" class="button button1">Buscar pedido</button>
alexandradealfreda@gmail.com
<br>
rommelmontenegro@yahoo.com -->
<app-nav-bar></app-nav-bar>
<app-banner-principal></app-banner-principal>
<app-item-list></app-item-list>