.navbar{
    width: 100%;
    height: auto;
    background-color: #1749b7;
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
    .mat-button{
        margin-left: -10px;
        color: rgb(17, 17, 17);
        color: white;
        font-size:medium;
    }
    
    .logo {
        width: 170px;
        height: auto;
        margin-left: 10px;
    }

    .fas{
        font-size:x-large;
        cursor: pointer;
    }
    .fas:hover{
        transform: scale(1.1);
        transition: transform .5s ease;
    }
    
}
@media only screen and (min-width: 1920px) and (max-width: 1400px) {
    .mat-button{
        margin-left: -50px;
        color: rgb(17, 17, 17);
        color: white;
        font-size:medium;
    }
    
    .logo {
        width: 170px;
        height: auto;
        margin-left: 10px;
    }

    .fas{
        font-size:x-large;
        cursor: pointer;
    }
    .fas:hover{
        transform: scale(1.1);
        transition: transform .5s ease;
    }
    
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
    .logo {
        width: 110px;
        height: auto;
        margin-left: 3px;
    }
    .fas, p{
        color: white;
        font-size:medium;
    }
    
    .fa-user{
        margin-left: 30px;
    }
    
    .fa-bars{
        margin-left: 10px;  
    }
    .mat-button{
        margin-left: -55px;
        color: rgb(17, 17, 17);
        color: white;
        font-size:medium;
    }

    .fa-shopping-cart{
        margin-right: -200px;   
        margin-top: -200px;
  }
    
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    .logo {
        width: 110px;
        height: auto;
        margin-left: 3px;
    }
    .fas, p{
        color: white;
        font-size:medium;

    }
    
    .fa-user{
        margin-left: 10px;
    }
    
    .fa-bars{
        margin-left: -100px;  
        
    }

    .fa-shopping-cart{
          margin-right: -1000px;   
          margin-top: -200px;
    }
    .mat-button{
        margin-left: 10px;
        color: rgb(17, 17, 17);
        color: white;
        font-size:medium;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .logo {
        width: 110px;
        height: auto;
        margin-left: 3px;
    }
    .fas, p{
        color: white;
        font-size:medium;

    }
    
    .fa-user{
        margin-left: 10px;
    }
    
    .fa-bars{
        margin-left: -100px;  
        
    }

    .fa-shopping-cart{
          margin-right: -1000px;   
          margin-top: -200px;
    }
    .mat-button{
        margin-left: 10px;
        color: rgb(17, 17, 17);
        color: white;
        font-size:medium;
    }
    
}


.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #1749b7
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: 600
}

.brand-wrap {
    text-decoration: none !important
}






.search-form {
    border: 1px solid #ffffff !important
}

.search-button {
    color: #007bff;
    background-color: #ffffff;
    border-color: #ffffff
}

.navbar-main {
    background-color: #fff
}






.nav-link {
    text-transform: uppercase;
    font-weight: 400
}


.fas {
    color: #fff
}

.login {
    color: white
}