<header class="section-header sticky-top">
    <section class="header-main border-bottom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3 col-sm-4 col-md-4 col-5"> <a href="#" class="brand-wrap" data-abc="true">
                    <img src="assets\img\Logo\LOGOBLANCO.png" class="rounded float-start logo" alt="..."> </a> </div>
                <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
                    <form action="#" class="search-wrap">
                        <div class="input-group w-100"> <input type="text" class="form-control search-form" style="width:55%;" placeholder="Search">
                            <div class="input-group-append"> <button class="btn btn-primary search-button" type="submit"> <i class="fa fa-search"></i> </button> </div>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <i class="fas fa-user"></i> 
                </div>
                <div class="col-1">
                    <i class="fas fa-shopping-cart"> +1</i>
                </div>
             
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-md navbar-main border-bottom ">
        <div class="container-fluid">
            <form class="d-md-none my-2">
                <div class="input-group"> <input type="search" name="search" class="form-control" placeholder="Search" required="">
                    <div class="input-group-append"> <button type="submit" class="btn btn-secondary"> <i class="fa fa-search"></i> </button> </div>
                </div>
            </form> 
        
        </div>
    </nav>
</header>