
<!-- <nav class="sticky-top d-flex d-sm-flex d-md-flex d-lg-none">
    <mat-toolbar class="pt-1 pb-1 mb-2">
        <mat-toolbar-row>
            <button matTooltip="Comenzar a Comprar" type=" button "  mat-icon-button>
                <mat-icon style="font-size: 25px; color: var(--blue-primary);" fontSet="fas" fontIcon="fa-bars"></mat-icon>
              </button>
            <span class="example-fill-remaining-space"></span>
            <a matTooltip="Ir a Pagina Principal" >
                <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/sconliestore.appspot.com/o/LogoAzul.gif?alt=media&token=19388759-093c-4c2f-966f-5b6dcb58c68d"> </a>
            <span class="example-fill-remaining-space"></span>
            <app-shopingcard [routerLink]="['ShopList']"  class="mt-2"></app-shopingcard>
            <span class="example-fill-remaining-space"></span>
            <button style="font-size: 15px;color: var(--blue-primary);"  mat-icon-button>
                <mat-icon  fontSet="fas" fontIcon="fa-search"></mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row style="color: var(--blue-primary);" class="mt-3 animated fadeIn" id="collapseExample" >
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                    <form>
                        <mat-form-field class="example-full-width">
                            <input  type="text" placeholder="Buscar Productos" ( aria-label="Number" matInput  name="search">
                            <button  mat-icon-button matSuffix>
                                <mat-icon  style="color: var(--blue-primary);" fontSet="fas" fontIcon="fa-search"></mat-icon>
                            </button>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let item of items" style="font-size: 12px;" (click)="itemSearched(item);isCollapsed = !isCollapsed;">
                                    <img (error)="onImgError($event)" height="30px" width="30px" [src]="item.imagen" alt=""> {{item.nombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</nav> -->



<header class="section-header ">
    <section class="header-main border-bottom d-none d-md-block">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2 col-sm-4 col-md-4 col-5"> <a href="#" class="brand-wrap" data-abc="true">
                    <img src="assets\img\Logo\LOGOBLANCO.png" class="rounded float-start logo" alt="..."> </a> 
                </div>
                <div class="col-1">
                    <button mat-button><i class="fas fa-bars"></i> Menu </button>
            
                </div>

                <div class="col-lg-2 col-xl-4 col-sm-8 col-md-4 d-none d-md-block">
                    <form action="#" class="search-wrap">
                        <div class="input-group w-100"> <input type="text" class="form-control search-form" style="width:55%;" placeholder="Buscar.....">
                            <div class="input-group-append"> <button class="btn btn-primary search-button" type="submit"> <i class="fa fa-search"></i> </button> </div>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <i class="fas fa-user"></i> 
            
                </div>
                <div class="col-1">
                    <i class="fas fa-shopping-cart"> +1</i>
                </div>
             
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-md navbar-main border-bottom ">
        <div class="container-fluid">
            <form class="d-md-none my-2">
                <div class="input-group"> <input type="search" name="search" class="form-control" placeholder="Search" required="">
                    <div class="input-group-append"> <button type="submit" class="btn btn-secondary"> <i class="fa fa-search"></i> </button> </div>
                </div>
            </form> 
        
        </div>
    </nav>
</header>